{% extends "layout.html" %}

{% block body %}
    <div class="ui inverted vertical black masthead bg-azul center aligned segment">
        {% include "menu.html" %}

        <div class="hero">
            <div class="ui text container conteudo">
                <h1><strong>Crie camisetas usando 3D</strong></h1>
                <p class="ui centered lead">
                    A nossa ferramenta é totalmente online feita
                     para criar <br />ótimas camisetas estampaveis, com apenas um click.
                </p>
                <a class="ui huge animated fade ui inverted button c">
                    <div class="visible content">
                        Comece agora
                    </div>
                    <div class="hidden content">
                        sem custo!
                    </div>
                </a>
            </div>

        </div>
    </div>

    <div class="ui basic vertical very padded aligned secondary segment">
        <div class="ui text container">
            <h2 class="ui center aligned header"><strong>Veja como funciona!</strong></h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

    <div class="hero-side">
        <div class="ui container explicacao">
            <div class="ui grid">
                <div class="right floated six wide column">
                    <h2>A ferramenta mais simples de criação 3D que você vai encontrar</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                    </p>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                    </p>
                    <a href="#" class="ui big primary button">Criar uma agora</a>
                </div>

            </div>
        </div>
    </div>

    <div class="ui basic vertical very padded aligned secondary segment">
        <div class="ui text container">
            <h2 class="ui center aligned header"><strong>Veja como fazemos!</strong></h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="/semantic/out/components/popup.js" type="text/javascript" charset="utf-8" async defer></script>

    <script type="text/javascript" charset="utf-8" async defer>
        $('[data-popup]')
          .popup()
        ;
    </script>
{% endblock %}
