<!--<header>
    <div class="ui basic inverted black segment transition hidden" id="animate">

        <div class="ui container">
            <div class="ui large secondary {% if invertedMenu == true %}inverted black{% endif %} menu">
                <a href="/" class="logo item">
                    <div class="ui logo shape">
                        <div class="sides">
                            <div class="active ui side">
                                <img class="ui image" src="/assets/images/logo{% if invertedMenu != true %}-black{% endif %}.png" width="130">
                            </div>
                        </div>
                    </div>
                </a>

                <div class="item menu-edicao">
                    <div class="ui item option-editable">
                        <div class="content">
                            <h4 class="header">Cor</h4>

                            <div class="description">
                                {% for cor in cores %}
                                    <a href="#"
                                        class="circular ui {{cor.ref}} icon button color"
                                        data-offset="-10"
                                        data-content="{{cor.name}}"
                                        data-hexa="{{cor.hexa}}"></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right menu">
                    <div class="item">
                        <a href="#" class="ui circular blue icon button">
                            <i class="large plus icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>-->

<header>
    <div class="ui padded basic center aligned segment">
        <a href="/" class="logo item">
            <div class="ui logo shape">
                <div class="sides">
                    <div class="active ui side">
                        <img class="ui image" src="/assets/images/logo.png">
                    </div>
                </div>
            </div>
        </a>
    </div>
</header>

<!-- <div class="ui visible inverted right vertical sidebar menu">
    <a href="/" class="logo item">
        <div class="ui logo shape">
            <div class="sides">
                <div class="active ui side">
                    <img class="ui image" src="/assets/images/logo{% if invertedMenu != true %}-black{% endif %}.png" width="171">
                </div>
            </div>
        </div>
    </a>
</div> -->